input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mat-dialog-container {
  position: relative;
}

.headerfontStyle {
  font-family: cursive;
}

.buttonFontStyle {
  font-family: serif;
}
