<div class="container-fluid shadow rounded">
  <div class="card border-0">
    <div class="card-header border-0">
      <h1 class="mt-2 text-center headerfontStyle">Personal Expense Manager</h1>
    </div>
    <div class="card-body">
      <div class="row justify-content-around" mt-3>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <button type="button" class="btn btn-primary buttonFontStyle" (click)="addExpense()">
            Add Expense
          </button>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <select class="form-control custom-select headerfontStyle" [(ngModel)]="selectedCategory">
            <option value="all">Filter by category</option>
            <option value="food">Food</option>
            <option value="shopping">Shopping</option>
            <option value="travel">Travel</option>
            <option value="health">Health</option>
          </select>
        </div>
        <div class="col-12 col-md-4">
          <input class="form-control" [(ngModel)]="searchExpense" type="search" placeholder="Search by product name"
            aria-label="Search" />
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center my-2" id="exampleModalLabel">
            <strong>Set budget for category</strong>
          </h1>
        </div>
        <div class="modal-body">
          <form [formGroup]="budgetForm" (ngSubmit)="setBudget()">
            <div class="form-group">
              <label for="category"><strong>Category</strong></label>
              <input type="text" class="form-control" formControlName="category" value="{{ categoryValue }}" />
              <div class="text-danger"
                *ngIf="budgetForm.controls['category'].dirty && budgetForm.controls['category'].touched">
                <span class="text-danger" *ngIf="budgetForm.controls['category']?.errors?.['required']">Category is
                  required</span>
              </div>
            </div>

            <div class="from-group">
              <label for="amount"><strong>Amount</strong></label>
              <input type="number" id="amount" placeholder="Enter amount" class="form-control"
                formControlName="amount" />
              <div class="text-danger"
                *ngIf="budgetForm.controls['amount'].dirty && budgetForm.controls['amount'].touched">
                <span class="text-danger" *ngIf="budgetForm.controls['amount']?.errors?.['required']">Amount is
                  required</span>
              </div>
            </div>
            <div class="form-group my-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button [disabled]="!submitted && budgetForm.invalid" type="submit"
                class="btn btn-primary mx-1 buttonFontStyle">
                Set
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
            <strong>Budget Details</strong>
          </h1>
        </div>
        <div class="modal-body text-center">
          <span>
            <h1>Category: {{ categoryValue }}</h1>
          </span>
          <span>
            <h1>Total Amount: {{ totalAmount }}</h1>
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary buttonFontStyle" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-2">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let e of expenseData | filterByCategory : selectedCategory | seachByExpense : searchExpense">
      <div class="card mb-4 text-center">
        <div class="card-body">
          <h5 class="card-title">{{ e.productName }}</h5>
          <p class="card-text">{{ e.expenseId }}</p>
          <span class="badge bg-light text-success mb-2">{{ e.amount }}</span>
          <div class="d-flex justify-content-around">
            <button class="btn btn-outline-secondary btn-sm" (click)="edit(e.expenseId)" data-toggle="tooltip"
              title="Edit expense">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="View total expense"
              data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="calculateTotal(e.category)">
              <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete expense"
              (click)="deleteExpense(e.expenseId)">
              <i class="bi bi-trash3"></i>
            </button>
            <button class="btn btn-outline-warning btn-sm" data-toggle="tooltip" title="Set expense"
              (click)="fetchCategory(e.category)">
              <!-- <i class="bi bi-trash3"></i> -->
              Set
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>